$bg-header-and-footer: #ff6961;
$text-color-header: #BEE4F7;
$text-font-header: 'Allison', cursive;
$text-header-font-size: 2.5rem; 
$text-color-footer: #1a1818;
$text-font-footer: 'Azeret Mono', monospace;
$text-footer-font-size: 1.063rem;
$tamaño-logo: 50px;
$background-color-main: #ffdcba;
$text-font-titulo: 'Azeret Mono', monospace;
$text-size-titulo: 5rem;
$text-color-titulo: #ff6961;
$text-font-generico: 'Oswald', sans-serif;
$text-size-generico: 1.563rem;
$text-color-generico: #4B4B4B;
$text-size-menu: 3.663rem;
$text-size-mensaje: 50px;
$text-special-color: #6A951E;
$color-subtitulo: black;
$animated-logo: 60px;
$animated-header: yellow;
$animated-font-size: 2.541rem;
$bg-button: white;
$bg-animated-button: black;
$min-body-height: 521px;
$grid-default-gap: 5px;
$desktop: 1200px;
$tablet-grande: 992px;
$tablet-chiquita: 768px;
$celular-grande: 575px;
$celular-chiquito: 320px;